.root {
    -fx-background-color: #1e222b;
}


.menuBar {
    -fx-background-color: #252a34; 
    -fx-padding: 5 10 5 10;
    -fx-border-color: #1e222b;
    -fx-border-width: 0 0 1px 0; 
}

.menuBar .menu {
    -fx-background-color: transparent;
}

.menuBar .menu .label {
    -fx-text-fill: #8e9297;    
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.menuBar .menu:hover .label,
.menuBar .menu:showing .label {
    -fx-text-fill: #eceff4;   
}

.context-menu {
    -fx-background-color: #2c323f;
    -fx-border-color: #1e222b;
    -fx-padding: 5 0 5 0;
}

.menu-item .label {
    -fx-text-fill: #eceff4;
}

.menu-item:focused {
    -fx-background-color: #00adb5; 
}
.menu-item:focused .label {
    -fx-text-fill: #1e222b;
}